body{ width: 100%; height: 100%; margin: 0px; padding: 0px; overflow-x: hidden;}

header {position: static; height: 300px; background-color: #089FA4; color: white; padding: 30px 0px 0px 0px; display: block;}
a{color: white; text-decoration: none; height: 3px; width: 3px;}

nav {margin: 0 auto; text-align: center; color: none; font-family: 'montserrat'}

nav ul {list-style-type: none; margin-left: 0px !important}

h1 {text-align: center !important; text-decoration: none;  color: white; font-family: 'montserrat'; font-size: 100PX; position: relative; height: 100px; margin-bottom: 80px; padding top:80px;}


nav ul li {display: inline-block; background-color: #089FA4; padding: 20px; border-radius: 10%; text-transform:uppercase; position: relative; bottom: 20px;}

html{color: black; height: auto;}
.whitelink {text-decoration: none; color: white; font-size: 20px;}
.active:hover {color: #000000;}
#mouse:hover {color: #F0F0F0;}

#footerr {height: 200px; background-color: #089FA4; color: white; position: relative; bottom: 0px;}

#channels {height: 50; width: 300px; left: 50px; bottom: -80px; position: relative;}
#youtube {height: 50; width: 50px;}
#instagram {height: 50; width: 50px; margin-left: 4px;}
#facebook {height: 50; width: 50px;}

#formfooter{position: relative; width: 900px; height: 100px; left: 0px; margin-left: 600px; z-index: -100PX;}
#formcaselle {position: relative; right: 0px; align-content: right;}
#fname   {width: 150px; height: 50px; color: #201CA4; font-family: 'montserrat';}
#lname   {width: 150px; height: 50px; color: #201CA4; font-family: 'montserrat';}
#mail    {width: 150px; height: 50px; color: #201CA4; font-family: 'montserrat';}
#subject {width: 152px; height: 50px; color: #201CA4; font-family: 'montserrat'; top: 23px; position: relative;}
#submit  {width: 150px; height: 50px; background-color: #201CA4; color: white; font-family: 'montserrat'; border-radius: 10%;}

#seguimi{font-family: 'montserrat'; font-size: 30px; color: white; font-weight: bold; position: relative; top: 40px; margin-left: 50px; width: 200PX;}
#contattami {font-family: 'montserrat'; font-size: 30px; color: white; font-weight: bold; position: relative; top: 40px; margin-left: 350px; width: 200PX;}
.skills {display: inline-block;}



---------------------------------------------
HOMEPAGE

#citazione{height: 400px; width: auto; margin-right: auto; margin-left: auto; position: relative; top: 100px; display: block;}
cite {text-align: center; color: black !important; position: relative; top: 10px; font-size: 30px; font-family:'montserrat'; margin-right: auto; margin-left: auto; margin-bottom: 200px; margin-top: 200px; display: block; }
#cornice {background-color: #089FA4; height: 560px; width: 990px; margin-left: auto: margin-right: auto; z-index: -1; display: block;}

#videohomepage {margin: auto !important; margin-right: auto; margin-left: auto; display: block; align-content: center;  height: 570px;}
#videoelena {margin-right: auto; margin-left: auto; display: block; align-content: center; margin}

#musica { color: none; position: relative; object-position: center; bottom: 800px; left: 400px; width: 50px;
  height: 50px;
  border-radius: 100%}

#percorsostudititolo{height: 100px; width: 1000px; text-align: center; margin: auto; font-size: 50px; color: #089FA4; margin-top: 100px !important; margin-bottom: 100px !important;}
#scuole{height: 300px; width: 1400px; margin: auto; margin-bottom: 100px;}
#linkscuola{height: 3px; width: 3px; margin: auto;}
#sassari {text-align: center; position: relative;height: 300px;width: 300px; margin: auto;}
#azuni {text-align: center; position: relative; height: 300px;width: 300px; margin: auto;}
#germania1 {text-align: center; position: relative; height: 300px; width: 300px; margin: auto;}
#germania2 {text-align: center; position: relative; height: 300px; width: 300px; margin: auto;}
img.fotografia{align-content: center;}

---------------------------------------------
ESIBIZIONI

#esibizioneA {height: 300px !important; align-content: center; margin-bottom: 100px; margin-top: 100px;}
#esibizioneB {height: 300px !important; align-content: center; margin-bottom: 100px;}
#esibizioneC {height: 300px !important; align-content: center; margin-bottom: 100px;}
#esibizioneD {height: 300px !important; align-content: center; margin-bottom: 100px;}
#esibizioneE {height: 300px !important; align-content: center; margin-bottom: 100px;}

#titoloA {margin: auto; color: #089FA4; font-family: 'montserrat'; font-size: 30PX; text-align: center; margin-top: 100px; font-weight: bold;}
#titoloB {margin: auto; color: #089FA4; font-family: 'montserrat'; font-size: 30PX; text-align: center; margin-top: 100px; font-weight: bold;}
#titoloC {margin: auto; color: #089FA4; font-family: 'montserrat'; font-size: 30PX; text-align: center; margin-top: 100px; font-weight: bold;}
#titoloD {margin: auto; color: #089FA4; font-family: 'montserrat'; font-size: 30PX; text-align: center; margin-top: 100px; font-weight: bold;}
#titoloE {margin: auto; color: #089FA4; font-family: 'montserrat'; font-size: 30PX; text-align: center; margin-top: 100px; font-weight: bold;}

#bolle {height: 200px; width: 200px; opacity: 0.5; display: block; margin-right: auto; margin-left: auto; margin-top: 50px;}
#bolle:hover {opacity: 1; height: 300px; width: 300px;} 

#bollo {height: 200px; width: 200px; opacity: 0.5; display: block; margin-right: auto; margin-left: auto; margin-top: 50px;}
#bollo:hover {opacity: 1; height: 300px; width: 300px;} 

#bollu {height: 200px; width: 200px; opacity: 0.5; display: block; margin-right: auto; margin-left: auto; margin-top: 50px;}
#bollu:hover {opacity: 1; height: 300px; width: 300px;} 

#bolli {height: 200px; width: 200px; opacity: 0.5; display: block; margin-right: auto; margin-left: auto; margin-top: 50px;}
#bolli:hover {opacity: 1; height: 300px; width: 300px;}

#bolla {height: 200px; width: 200px; opacity: 0.5; display: block; margin-right: auto; margin-left: auto; margin-top: 50px;}
#bolla:hover {opacity: 1; height: 300px; width: 300px;}

---------------------------------------------
ABOUT ME

#aboutme {height: 900px; margin-bottom: 100px;}

#NOTA2{height: 100px; width: 100px;position: relative; top: 150px; right: 10px; z-index: -1; display: block; margin-right: auto; margin-left: auto;}

#chisono {text-align: justify; font-size: 30px; width: 800px; margin-bottom: 300px !important; align-content: justify; color: black; position: relative; top: 250px; margin: auto; font-family: 'montserrat';}

#homeimage {z-index: -1; display: block; opacity: 1; height: auto; position: relative; top: 100px; margin-top: 10px !important; width: 700px; margin-left: auto; margin-right: auto;}

/*---------------------------------------------*/
/*DOCUMENTAZIONE*/

h2 {color: black; font-style: 'montserrat'; font-size: 30px; text-align: center !important; margin-left: auto; margin-right: auto; margin-left: 200px; margin-right: 200px; z-index: +1;}
p {margin: auto; margin-left: 200px; margin-right: 200px; text-align: justify;}
h3 {color: black; font-style: 'montserrat'; font-size: 20px; text-align: center !important; margin-left: auto; margin-right: auto; margin-left: 200px; margin-right: 200px;}

#share 
#albero {height: 50px; width: 50px;}

img.fotografiaa{align-content: center; width: 200px; margin: 2%;}



/*---------------------------------------------*/
/*CONCERTI*/



#CONCERTI {height: 200px; width: 200px; opacity: 0.5; display: block; margin-right: auto; margin-left: auto; margin-top: 50px; margin-bottom: 200px;}
#CONCERTI:hover {opacity: 1; height: 300px; width: 300px;}

#confermamail {margin-left: 20px; margin-right: 20px; font-size: 50px; font-family: 'montserrat'; margin-bottom: 300px; margin-top: 0px;text-align: center;} 

#colorns {color: #089FA4; margin-top: 100px;}
 
#fname2   {width: 150px; height: 50px; color: #201CA4; font-family: 'montserrat'; border-color: #201CA4; margin: 10px 10px 10px 10px;  }
#lname2  {width: 150px; height: 50px; color: #201CA4; font-family: 'montserrat'; border-color: #201CA4; margin: 10px 10px 10px 10px;}
#mail2   {width: 150px; height: 50px; color: #201CA4; font-family: 'montserrat'; border-color: #201CA4; margin: 10px 10px 10px 10px;}

#sendfox {height: 100px; margin-bottom: 200px; margin-top: 200px; background-color: white; align-content: center;}

button {width: 150px; height: 50px; background-color: #201CA4; color: white; font-family: 'montserrat'; border-radius: 10%;}

#formsendfox {margin-left:100px; margin-right:100px;}

#newslettertitle {font-size: 50px; }








 














